# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Abhängigkeiten (Dependencies)
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testen (Testing)
/coverage

# Next.js spezifisch
/.next/
/out/

# Produktion (Production)
/build

# Sonstiges (Misc)
.DS_Store
*.pem

# Debugging-Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Umgebungs-Variablen (.env Dateien)
.env*

# Vercel Deployment-Dienste
.vercel

# TypeScript Build-Dateien
*.tsbuildinfo
next-env.d.ts

# Playwright Test-Artefakte
/tests/reporting/
