services:
  playwright:
    build: .
    environment:
      - CI=true # Forces headless mode and production server usage (npm run start)
      - SKIP_WEBKIT=true # WebKit is unstable in containers
    volumes:
      # Map report folders so we can view results on host machine
      - ./tests/playwright-report:/app/tests/playwright-report
      - ./tests/test-results:/app/tests/test-results
    ipc: host # Recommended for browser performance
    platform: linux/amd64 # Ensure compatibility on Mac Silicon
